.test {
    font-size: 50px;
    background-color: blue;
}
.About .center {
    margin: 0 auto;
    position: relative;
}
.About .center .title {
    width: 113px;
    position: absolute;
    top: 128px;
    left: 96px;
    z-index: 99;
}
.About .center .title p {
    font-weight: 800;
    font-size: 19px;
    text-align: center;
}
.About .center .title .title_bar {
    width: 113px;
    height: 1px;
    background-color: #1A1A1A;
    margin-top: 13px;
}
.About .center .left_right  {
    display: flex;
}
/* 왼쪽 구역 시작 */
.About .center .left {
    width: 608px;
    height: 842px;
    background-color: #F5F5F5;
    padding-left: 100px;
    padding-top: 198px;
}
.About .center .left .introduce {
    font-size: 21px;
    font-weight: 700;
}
.About .center .left .face_img {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #D9D9D9;
    margin-bottom: 102px;
}
.About .center .left .info {
    display: flex;
    justify-content: space-between;
    width: 265px;
}
.About .center .left .info .info_left {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.About .center .left .info .info_right {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 11px;
    text-align: end;
}
/* 왼쪽 구역 끝 */
/* 오른쪽 구역 시작 */
.About .center .right {
    display: flex;
    flex-direction: column;
    gap: 115px;
    padding-top: 96px;
    padding-left: 67px;
}
.About .center .right .box {
    display: flex;
    flex-direction: column;
}
.About .center .right .box .box_title {
    display: flex;
    align-items: end;
}
.About .center .right .box .box_title .big_title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 13px;
}
.About .center .right .box .box_title .small_title {
    font-size: 13px;
    font-weight: 700;
    color: #A8A8A8;
}
.About .center .right .box .box_bar {
    width: 579px;
    height: 1px;
    background-color: #1A1A1A;
    margin-top: 16px;
    margin-bottom: 15px;
}
.About .center .right .box ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.About .center .right .box ul li {
    display: flex;
    justify-content: space-between;
}
.About .center .right .box ul li .date {
    font-weight: 700;
    font-size: 15px;
}
.About .center .right .box ul li .name {
    font-weight: 500;
    font-size: 14px;
    text-align: end;
}
/* 오른쪽 구역 끝 */